<div class="modal-body" *ngIf="popup">
    <div class="text-center border border-light p-5">
        <p class="h4 mb-4">UserGroups Information</p>
        <form>
                <div class="form-group row">
                    <label class="col-3 label-middling">Tên Nhóm<span class="text-danger">(*)</span></label>
                        <div class="col-9">
                            <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="nhomnguoidung.AdministrationOfUserGroupName"
                                class="form-control" placeholder="Tên Nhóm">
                        </div>
                </div>

        </form>
        <button *ngIf="popup" class="btn btn-warning mr-3" (click)="closeMe()" alt=''>{{"MESSAGE.NameList.Close" |translate}}</button>
        <button class="btn btn-info" (click)="UpdateNhom()" alt=''>{{"MESSAGE.NameList.Save" |translate}}</button>
    </div>
</div>



