<div class="modal-body" *ngIf="popup">
    <div class="text-center border border-light p-5">
        <p class="h4 mb-4">Class Information</p>
        <form>
            <div class="form-group row">
                <div class="col-md-6 alert" role="alert">
                    <input class="form-control" placeholder="{{'MESSAGE.NameList.Area' |translate}}"
                        [matAutocomplete]="areaAC" [formControl]="searchAreasCtrl">
                    <mat-autocomplete #areaAC="matAutocomplete" (optionSelected)="changeArea(searchAreasCtrl.value.ID)"
                        [displayWith]="displayAreaFn">
                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                            <mat-spinner></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let area of areasList" [value]="area">
                                <span *ngIf="area">{{area.AreaName}}</span>
                                <span *ngIf="!area" class="nofind">Not found</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input class="form-control" placeholder="{{'MESSAGE.NameList.Yard' |translate}}"
                        [matAutocomplete]="yardAC" [formControl]="searchYardsCtrl">
                    <mat-autocomplete #yardAC="matAutocomplete" (optionSelected)="changeYard(searchYardsCtrl.value.ID)"
                        [displayWith]="displayYardFn">
                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                            <mat-spinner></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let yard of yardsList" [value]="yard">
                                <span *ngIf="yard">{{yard.YardName}}</span>
                                <span *ngIf="!yard" class="nofind">Not found</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input class="form-control" placeholder="{{'MESSAGE.NameList.TrainingGround' |translate}}"
                        [matAutocomplete]="trainingGroundAC" [formControl]="searchTrainingGroundsCtrl">
                    <mat-autocomplete #trainingGroundAC="matAutocomplete" [displayWith]="displayTrainingGroundFn">
                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                            <mat-spinner></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let trainingGround of trainingGroundsList" [value]="trainingGround">
                                <span *ngIf="trainingGround">{{trainingGround.TrainingGroundName}}</span>
                                <span *ngIf="!trainingGround" class="nofind">"Not found"</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="number" [(ngModel)]="class.DisplayOrder"
                        class="form-control" placeholder="{{'MESSAGE.NameList.DisplayOrder' |translate}}">
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="class.ClassCode"
                        class="form-control" placeholder="{{'MESSAGE.NameList.ClassCode' |translate}}">
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="class.ClassName"
                        class="form-control" placeholder="{{'MESSAGE.NameList.ClassName' |translate}}">
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input class="form-control" placeholder="Manager" [matAutocomplete]="managerAC"
                        [formControl]="searchManagersCtrl">
                    <mat-autocomplete #managerAC="matAutocomplete" [displayWith]="displayManagerFn">
                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                            <mat-spinner></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let manager of managersList" [value]="manager">
                                <span *ngIf="manager">{{manager.UserName}}</span>
                                <span *ngIf="!manager" class="nofind">Not found</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input class="form-control" placeholder="Main coach" [matAutocomplete]="mainCoachAC"
                        [formControl]="searchMainCoachsCtrl">
                    <mat-autocomplete #mainCoachAC="matAutocomplete" [displayWith]="displayMainCoachFn">
                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                            <mat-spinner></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let mainCoach of mainCoachsList" [value]="mainCoach">
                                <span *ngIf="mainCoach">{{mainCoach.UserName}}</span>
                                <span *ngIf="!mainCoach" class="nofind">Not found</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input class="form-control" placeholder="Vice coach" [matAutocomplete]="viceCoachAC"
                        [formControl]="searchViceCoachsCtrl">
                    <mat-autocomplete #viceCoachAC="matAutocomplete" [displayWith]="displayViceCoachFn">
                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                            <mat-spinner></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let viceCoach of viceCoachsList" [value]="viceCoach">
                                <span *ngIf="viceCoach">{{viceCoach.UserName}}</span>
                                <span *ngIf="!viceCoach" class="nofind">Not found</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input class="form-control" placeholder="Ages" [matAutocomplete]="ageAC"
                        [formControl]="searchAgesCtrl">
                    <mat-autocomplete #ageAC="matAutocomplete" [displayWith]="displayAgeFn">
                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                            <mat-spinner></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let age of agesList" [value]="age">
                                <span *ngIf="age">{{age.AgeName}}</span>
                                <span *ngIf="!age" class="nofind">Not found</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </div>
                <div class="col-md-6 alert" role="alert">
                    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="class.Week">
                        <option>---- Select week ----</option>
                        <ng-container *ngFor="let week of weeksList">
                            <option [value]="week">{{ weeksListName[week - 1] }}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="col-md-6 alert" role="alert">
                    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="class.ShiftDay">
                        <option>---- Select shift day ----</option>
                        <ng-container *ngFor="let shiftDay of shiftDaysList">
                            <option [value]="shiftDay">{{ shiftDaysListName[shiftDay - 1] }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </form>
        <button *ngIf="popup" class="btn btn-warning mr-3" (click)="closeMe()"
            alt=''>{{"MESSAGE.NameList.Close" |translate}}</button>
        <button class="btn btn-info" (click)="UpdateClass()" alt=''>{{"MESSAGE.NameList.Save" |translate}}</button>
    </div>
</div>
