<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning" style="background: #023a54">
                        <h4 class="card-title">{{ "MESSAGE.NameList.CentralManagement" | translate }}</h4>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <input class="form-control"
                                                    placeholder="{{'MESSAGE.NameList.Province' |translate}}"
                                                    [matAutocomplete]="provinceAC" [formControl]="searchProvincesCtrl">
                                                <mat-autocomplete #provinceAC="matAutocomplete"
                                                    (optionSelected)="changeProvince(searchProvincesCtrl.value.ID)"
                                                    [displayWith]="displayProvinceFn">
                                                    <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                                                        <mat-spinner></mat-spinner>
                                                    </mat-option>
                                                    <ng-container *ngIf="!isLoading">
                                                        <mat-option *ngFor="let province of listprovince"
                                                            [value]="province">
                                                            <span
                                                                *ngIf="!province.notfound">{{province.ProvinceName}}</span>
                                                            <span *ngIf="province.notfound"
                                                                class="nofind">{{province.notfound}}</span>
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </div>
                                            <div class="col-sm-4">
                                                <input class="form-control"
                                                    placeholder="{{'MESSAGE.NameList.District' |translate}}"
                                                    [matAutocomplete]="districtAC" [formControl]="searchDistrictsCtrl">
                                                <mat-autocomplete #districtAC="matAutocomplete"
                                                    (optionSelected)="changeDistrict(searchDistrictsCtrl.value.ID)"
                                                    [displayWith]="displayDistrictFn">
                                                    <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                                                        <mat-spinner></mat-spinner>
                                                    </mat-option>
                                                    <ng-container *ngIf="!isLoading">
                                                        <mat-option *ngFor="let district of listdistrict"
                                                            [value]="district">
                                                            <span
                                                                *ngIf="!district.notfound">{{district.DistrictName}}</span>
                                                            <span *ngIf="district.notfound"
                                                                class="nofind">{{district.notfound}}</span>
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </div>
                                            <div class="col-sm-4">
                                                <input class="form-control"
                                                    placeholder="{{'MESSAGE.NameList.Ward' |translate}}"
                                                    [matAutocomplete]="wardAC" [formControl]="searchWardsCtrl">
                                                <mat-autocomplete #wardAC="matAutocomplete"
                                                    (optionSelected)="changeWard(searchWardsCtrl.value.ID)"
                                                    [displayWith]="displayWardFn">
                                                    <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                                                        <mat-spinner></mat-spinner>
                                                    </mat-option>
                                                    <ng-container *ngIf="!isLoading">
                                                        <mat-option *ngFor="let ward of listward" [value]="ward">
                                                            <span *ngIf="!ward.notfound">{{ward.WardName}}</span>
                                                            <span *ngIf="ward.notfound"
                                                                class="nofind">{{ward.notfound}}</span>
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 search-form">
                                        <div class="row">
                                            <div class="col-12 ta-r">
                                                <button class="btn btn-vietgoal btn-sm mr-2"
                                                    (click)="openImport()">Import</button>
                                                <button class="btn btn-vietgoal btn-sm mr-2"
                                                    (click)="downloadTemplate()">Mẫu Import</button>
                                                <button mat-raised-button type="button" (click)="add()"
                                                    title="{{ 'MESSAGE.NameList.Create' | translate}}"
                                                    class="btn btn-primary add-button btn-link btn-sm btn-just-icon ml-2">
                                                    <i class="material-icons">add</i>
                                                </button>
                                            </div>
                                            <div class="col-12 input-group form-sm ">
                                                <input [(ngModel)]="searchTerm" class="form-control" type="text"
                                                    placeholder="{{ 'MESSAGE.NameList.Search' | translate }}"
                                                    aria-label="Search">
                                                <button type="button" (click)="reload()"
                                                    title="{{ 'MESSAGE.NameList.Search' | translate}}"
                                                    class="btn btn-primary search-button btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">search</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body table-responsive">
                                <mat-spinner *ngIf="loading" class="myspinner" [diameter]="32"></mat-spinner>
                                <div class="vietgoal-table-settings vg-scroll">
                                    <table class="table table-condensed table-striped table-bordered table-hover"
                                        style="width: 100%">
                                        <thead>
                                            <ng-container
                                                *ngFor="let colName of paginationSettings.columnsName; let colIndex = index;">
                                                <th *ngIf="paginationSettings.visibles[colIndex]"
                                                    [style.width]="(colIndex == 0) ? '100px' : ((colIndex == paginationSettings.columnsName.length - 1) ? '150px' : 'auto')"
                                                    (click)="paginationSettings.sortAbles[colIndex] ? utilsService.toggleSort(colIndex,paginationSettings.sortToggles ,paginationSettings.sort ,paginationSettings.columnsNameMapping ,reload()) : utilsService.doNothing()">
                                                    <span
                                                        style="vertical-align: middle;">{{ ("MESSAGE.NameList." + colName | translate) }}
                                                        <i class="material-icons asc-sort-icons"
                                                            *ngIf="paginationSettings.sortAbles[colIndex]">
                                                            {{ (paginationSettings.sortToggles[colIndex] == '') ? 'unfold_more' : ((paginationSettings.sortToggles[colIndex] == 'ASC') ? 'expand_less' : 'expand_more') }}
                                                        </i>
                                                    </span>
                                                </th>
                                            </ng-container>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let tt of CentralList; let i = index;">
                                                <tr>
                                                    <td>{{ utilsService.padIntegerLeftWithZeros(i + 1, 3) }}</td>
                                                    <ng-container
                                                        *ngFor="let colName of paginationSettings.columnsName; let colIndex = index">
                                                        <td
                                                            *ngIf="colIndex != 0 && colIndex != paginationSettings.columnsName.length - 1 && paginationSettings.visibles[colIndex]">
                                                            {{ utilsService.getColumnValue(tt, colIndex, paginationSettings.columnsNameMapping) }}
                                                        </td>
                                                    </ng-container>
                                                    <td class="my-action-item">
                                                        <button type="button" (click)="edit(tt.ID)"
                                                            class="btn btn-primary edit-button btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" (click)="remove(tt)"
                                                            class="btn btn-danger btn-link btn-sm delete-button btn-just-icon">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                                <mat-paginator [length]="Total" [pageSize]="pageSize" [pageSizeOptions]="pageSizesList"
                                    [showFirstLastButtons]="true" (page)="pageEvent($event)">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>