<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Đăng ký bảo lưu</h4>
  </div>
  <div class="modal-body">
    <div class="text-center border border-light">
      <div class="form-group row">
        <label class="col-3 label-middling"><strong>Học viên:</strong><span class="text-danger">(*)</span></label>
        <div class="col-4 label-middling">
           
          <input class="form-control" placeholder="Học viên" ><a  routerLink="/quanly/hosohocsinhtheolop/0" routerLinkActive="active"><span class="btn btn-primary calendar-btn search-button btn-link btn-sm btn-just-icon"><i class="material-icons" style="font-size:20px">people</i></span></a>
           
        </div>
      </div>
      <div class="form-group row">
            <label class="col-3 label-middling"><strong>{{ "MESSAGE.NameList.Day" | translate }}:</strong><span class="text-danger">(*)</span></label>
            <mat-form-field>
                <div class="col-9 label-middling">
              <input matInput [disabled]="true" (dateChange)="addedDateEvent($event)" [matDatepicker]="addedDateFilter" class="col-sm-3 form-control">
                
              <span mat-raised-button (click)="addedDateFilter.open()"
                class="btn btn-primary calendar-btn search-button btn-link btn-sm btn-just-icon">
                <i class="material-icons">date_range</i>
              </span>
                </div>
              <!-- <mat-datepicker-toggle matSuffix [for]="addedDateFilter"></mat-datepicker-toggle> -->
              <mat-datepicker #addedDateFilter disabled="false"></mat-datepicker>
            </mat-form-field>
        
      </div>
      <div class="form-group row">
        <label class="col-3 label-middling"><strong>Trạng thái:</strong><span class="text-danger">(*)</span></label>
        <div class="col-4 label-middling">
          <select class="form-control" placeholder="Trạng thái">Trạng thái
            <option>Chờ duyệt</option>
            <option>Đã duyệt</option>
            <option>Không duyệt</option>
        </select>
        </div>
      </div>
    </div>
    <button class="btn btn-warning mr-3" (click)="closeMe()" alt=''>{{ "MESSAGE.NameList.Close" | translate}}</button>
    <button class="btn btn-success " (click)="Update()" alt=''>{{ "MESSAGE.NameList.OK" | translate}}</button>
  </div>