<div class="wrapper">
    <div [ngClass]="{'mini-sidebar': mini}" class="sidebar" style="background: rgba(200, 200, 200, 0.2)" data-color="vietgoal" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar (sidebarUpdate)="updateSidebar($event)"></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-2.jpg)"></div>
    </div>
    <div [ngClass]="{'main-panel-mini': mini}" class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <div *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
    </div>
</div>