<nav class="navbar navbar-expand-lg navbar-absolute fixed-top">
    <div class="container-fluid">
	<div class="page-logo">
            <a href="">
                        <img src="http://media.ascvn.com.vn/Media/1_ASC/Images/logo8f320af-a8.png" class="logo-default">

            </a>
            
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item dropdown mr-2">
                    <a class="nav-link special" href="javascript:void(0)" id="" data-toggle="dropdown" >
                        <i class="material-icons">notifications</i> 
                        <span class="notification">5</span>
                        <p>
                            <span class="d-lg-none d-md-block">Some Actions</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" >
                        <a class="dropdown-item" href="javascript:void(0)">Mike John responded to your email</a>
                        <a class="dropdown-item" href="javascript:void(0)">You have 5 new tasks</a>
                        <a class="dropdown-item" href="javascript:void(0)">You're now friend with Andrew</a>
                        <a class="dropdown-item" href="javascript:void(0)">Another Notification</a>
                        <a class="dropdown-item" href="javascript:void(0)">Another One</a>
                    </div>
                </li>
                <li class="nav-item dropdown mr-2">
                    <a class="nav-link special" href="javascript:void(0)" id="" data-toggle="dropdown" >
                        <i class="material-icons">person</i> {{currentUser.LoginName}} <i class="fa fa-angle-down"></i>
                        <p>
                            <span class="d-lg-none d-md-block">Some Actions</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" >
                        <a class="dropdown-item" href="javascript:void(0)">Đổi mật khẩu</a>
                        <a class="dropdown-item" href="javascript:void(0)">Chống hack</a>
                        <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">Logout</a>
                    </div>
                </li>

		<li class="nav-item dropdown mr-2">
                    <a class="nav-link special" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img [src]="selectedLanguage.flag" class="flag-icon position-left" alt="">
            {{'LAYOUT.' + selectedLanguage.description.toString().toUpperCase() | translate}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" *ngFor="let language of languages" (click)="updateLanguage(language)">
				<img [src]="language.flag" class="flag-icon position-left mr-1" alt="">
              			{{'LAYOUT.' + language.description.toString().toUpperCase() | translate}}
			</a>
                    </div>
                </li>
		<li class="nav-item" (click)="logout()">
                    <a class="nav-link special" href="javascript:void(0)">
			<i class="material-icons">logout</i>
                        <p>
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
