<div class="modal-body" *ngIf="popup">
    <div class="text-center border border-light">
        <p class="h4 mb-4">Province Information</p>
        <form>
                <div class="form-group row">
                    <label class="col-5 label-middling">Mã Tỉnh Thành <span class="text-danger">(*)</span></label>
                        <div class="col-7">
                            <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="province.ProvinceCode"
                                class="form-control" placeholder='{{"MESSAGE.NameList.ProvinceCode" |translate}}'>
                        </div>
                </div>

                <div class="form-group row">
                    <label class="col-5 label-middling">Tên Tỉnh Thành <span class="text-danger">(*)</span></label>
                    <div class=" col-7 label-middling">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="province.ProvinceName"
                        class="form-control" placeholder='{{"MESSAGE.NameList.ProvinceName" |translate}}'>
                    </div>
                </div>
            

        </form>
        <button *ngIf="popup" class="btn btn-warning mr-3" (click)="closeMe()" alt=''>{{"MESSAGE.NameList.Close" |translate}}</button>
        <button class="btn btn-info" (click)="UpdateProvince()" alt=''>{{"MESSAGE.NameList.Save" |translate}}</button>
    </div>
</div>
<div class="text-center border border-light p-5" *ngIf="!popup">
        <p class="h4 mb-4">Province Information</p>
        <form>
            <div class="form-group row">
                <div class="col-6 alert" role="alert">
                    
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="province.MaProvince"
                        class="form-control" placeholder='{{"MESSAGE.NameList.ProvinceCode" |translate}}'>
                </div>
                <div class="col-6 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="province.ProvinceName"
                        class="form-control" placeholder='{{"MESSAGE.NameList.ProvinceName" |translate}}'>
                </div>
            </div>

        </form>
        <button class="btn btn-warning mr-3" (click)="ReturnList()" alt=''>{{"MESSAGE.NameList.Back"</button>
        <button class="btn btn btn-info" (click)="UpdateProvince()" alt=''>{{"MESSAGE.NameList.Save" |translate}}</button>
</div>