<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning" style="background: #023a54">
                        <h4 class="card-title">{{ "MESSAGE.NameList.ProvincesList" | translate }}</h4>
                    </div>
                    <div class="row pt-3 pl-2 pr-3">
                        <div class="col-sm-6 input-group form-sm form-1 pl-0">
                        </div>
                        <div class="col-sm-6 input-group form-sm form-1 pl-0">
                            <button mat-raised-button type="button" (click)="add()" title="{{ 'MESSAGE.NameList.Create' | translate}}" class="btn btn-primary add-button btn-link btn-sm btn-just-icon ml-2">
                                <i class="material-icons">add</i>
                            </button>
                            <input [(ngModel)]="searchTerm" class="form-control my-0 py-1" type="text"
                                placeholder="{{ 'MESSAGE.NameList.Search' | translate }}" aria-label="Search">
                            <div class="input-group-prepend">
                                <button mat-raised-button type="button" (click)="reload()" title="{{ 'MESSAGE.NameList.Search' | translate}}" class="btn btn-primary search-button btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body table-responsive">
                                <table class="table table-condensed table-striped table-bordered table-hover" style="width: 100%">
                                    <thead>
                                        <th width="100px">{{ ("MESSAGE.NameList.Order" | translate) | uppercase }}</th>
                                        <th>{{ ("MESSAGE.NameList.ProvinceCode" | translate) | uppercase }}</th>
                                        <th>{{ ("MESSAGE.NameList.ProvinceName" | translate) | uppercase }}</th>
                                        <th width="150px">{{ ("MESSAGE.NameList.Action" | translate) | uppercase }}</th>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let province of provincesList; let i = index;">
                                            <tr>
                                                <td width="100px">{{ i + 1}}</td>
                                                <td>{{ province.MaProvince }}</td>
                                                <td>{{ province.ProvinceName }}</td>
                                                <td width="150px" class="my-action-item">
                                                    <button mat-raised-button [matTooltipPosition]="'above'" matTooltip="Edit" type="button" (click)="edit(province.ID)" title="{{ 'MESSAGE.NameList.Edit' | translate}}" class="btn btn-primary edit-button btn-link btn-sm btn-just-icon mr-2">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button mat-raised-button [matTooltipPosition]="'above'" matTooltip="Remove" type="button" (click)="remove(province)" title="{{ 'MESSAGE.NameList.Delete' | translate}}" class="btn btn-primary btn-link delete-button btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>