
<div class="container-fluid my-login" style="background: url('assets/img/lg4.png')"> 
  
  <div class="row" style="display: table-cell; vertical-align: middle;">  
    <div class="col-md-6 mx-auto">  
      <div class="card-group mx-auto" style="width: 500px;">  
        <div class="card p-4">  
          <div class="card-body" >  
            <img class="d-block w-100 " src="assets/img/lg.png" alt="First slide" > 
            <form name="form" (ngSubmit)="login()" #f="ngForm">   
              <!-- <h1 style="text-align:center">Login</h1>   -->
              <div class="input-group mb-3">  
                <div class="input-group-prepend">  
                  <span class="input-group-text">
			<i title='{{ "AUTH.USERNAME" | translate}}' class="material-icons">account_box</i>
		  </span>  
                </div>  
                <input type="text" name="UserName" [(ngModel)]="username" class="form-control sty1 p-2" placeholder='{{ "AUTH.USERNAME" | translate}}' required>  
              </div>  
              <div class="input-group mb-4">  
                <div class="input-group-prepend">  
                  <span class="input-group-text"><i title='{{ "AUTH.PASSWORD" | translate}}' class="material-icons">lock</i></span>  
                </div>  
                <input  type="password" name="Password" [(ngModel)]="password" class="form-control p-2"  
               placeholder='{{ "AUTH.PASSWORD" | translate}}'>  
              </div>  
              <div>  
                  <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">  
                    {{errorMessage}}  
                  </p>  
                </div>  
              <div class="row">  
                <div class="col-6">  
                  <button type="submit" class="btn btn-primary px-4">{{ "AUTH.LOG_IN" | translate}}</button>  
                </div> 
              </div>  
            </form>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  
</div>