::host {
  display: block;
  padding: 16px;
  width: 316px;
}
.color-wrapper {
  width: 320px;
  height: 250px;

  z-index: 10000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
              0 1px 2px rgba(0, 0, 0, 0.24);
  position: absolute;
  display: none;
  top: calc(100% + 10px);
  left: 0;
}
.isActive {
  display: block;
}
.input-wrapper {
  margin-top: 16px;
  display: flex;
  border-radius: 1px;
  border: 1px solid rgb(220, 220, 220);
  padding: 8px;
  height: 32px;
  justify-content: center;
}
.color-div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgb(220, 220, 220);
}
.text {
  flex: 1;
  font-family: 'Helvetica';
  line-height: 32px;
}

.academy-picker-wrapper{
  position: relative;
  margin: 1.28571em 0;
}

.Input-field {
	display: block;
	resize: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: .0625em solid #a9afae;
	outline: none;
	background: none;
	color: #231f20;
	margin-bottom: .0625em;
	border-radius: 0;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
  width: 100%;
  height: 24px;
	font-size: 1.14286em;
	padding: .125em .125em .1875em;
	letter-spacing: 0.02em;
	&::-ms-expand {
		display: none;
	}
	&:focus {
		border-width: .125em;
		border-color: #023a54;
		margin-bottom: 0;
	}
	&:focus+.Input-label {
		.Input-required {
			color: #ff4b1a;
		}
		top: auto;
		bottom: 100%;
		font-size: .85714em;
		line-height: 1.28571em;
		color: #023a54;
	}
	&:focus+._720kb-datepicker-calendar+.Input-label {
		top: auto;
		bottom: 100%;
		font-size: .85714em;
		line-height: 1.28571em;
		color: #023a54;
	}
	&:disabled {
		border-bottom-style: dotted;
	}
	&:disabled+.Input-label {
		&:after {
			content: '(Disabled)';
			padding-left: 0.5rem;
			color: #a9afae !important;
		}
	}
}
.Input-field--22px {
	font-size: 1.57143em !important;
}
.Input-field--select {
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSI3cHgiIHZpZXdCb3g9IjAgMCAxMiA3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPHBvbHlnb24gZmlsbD0iIzlFOUU5RSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNi4wMDAwMDAsIDMuNTAwMDAwKSBzY2FsZSgxLCAtMSkgdHJhbnNsYXRlKC02LjAwMDAwMCwgLTMuNTAwMDAwKSAiIHBvaW50cz0iNiAwIDEyIDcgMCA3Ij48L3BvbHlnb24+Cjwvc3ZnPg==");
	background-repeat: no-repeat;
	background-position: 98% center;
	background-size: 0.75em;
	&:focus {
		background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSI3cHgiIHZpZXdCb3g9IjAgMCAxMiA3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPHBvbHlnb24gZmlsbD0iIzIzMUYyMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNi4wMDAwMDAsIDMuNTAwMDAwKSBzY2FsZSgxLCAtMSkgdHJhbnNsYXRlKC02LjAwMDAwMCwgLTMuNTAwMDAwKSAiIHBvaW50cz0iNiAwIDEyIDcgMCA3Ij48L3BvbHlnb24+Cjwvc3ZnPg==");
	}
}
.Input-field.ng-invalid.ng-dirty {
	border-color: #ff4b1a;
}
.Input-field.ng-invalid.ng-dirty+.Input-label {
	color: #ff4b1a;
}
.Input-field.ng-invalid.ng-dirty+._720kb-datepicker-calendar+.Input-label {
	color: #ff4b1a;
	top: auto;
	bottom: 100%;
	font-size: .85714em;
	line-height: 1.28571em;
}
.Input-field.ng-not-empty+._720kb-datepicker-calendar+.Input-label {
	top: auto;
	bottom: 100%;
	font-size: .85714em;
	line-height: 1.28571em;
}
.Input-field.ng-not-empty+.Input-label {
	top: auto;
	bottom: 100%;
	font-size: .85714em;
	line-height: 1.28571em;
}
.Input-field.ng-invalid.ng-not-empty+.Input-label {
	top: auto;
	bottom: 100%;
	font-size: .85714em;
	line-height: 1.28571em;
}
.Input-field.isActive+.Input-label {
	top: auto;
	bottom: 100%;
	font-size: .85714em;
	line-height: 1.28571em;
}
.Input-label {
	position: absolute;
	top: 0;
	left: 0;
	color: #a9afae;
	pointer-events: none;
	width: 100%;
	font-size: 1.14286em;
	padding: .125em .125em .1875em;
	letter-spacing: 0.02em;
}
.Input-label--required {
	&:after {
		content: "*";
		margin-left: .3125em;
		color: #ff4b1a;
	}
}
