<div class="modal-body" *ngIf="popup">
    <div class="text-center border border-light p-5">
        <p class="h4 mb-4">Central Information</p>
        <form>
            <div class="form-group row">
                <div class="col-md-6 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.MaTrungTam"
                        class="form-control" placeholder="Ma Trung Tam">
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.TenTrungTam"
                        class="form-control" placeholder="Ten Trung Tam">
                </div>
                <div class="col-md-6 alert" role="alert">
                    <select [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.TinhThanh" 
                    class="form-control">
                        <option value="" disabled selected>Tinh, Thanh</option>
                        <option value="1">TPHCM</option>
                        <option value="2">Hà Nội</option>
                    </select>
                </div>
                <div class="col-md-6 alert" role="alert">
                    <select [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.QuanHuyen" 
                    class="form-control">
                        <option value="" disabled selected>Quan, Huyen</option>
                        <option value="1">Quận 1</option>
                        <option value="2">Quận 2</option>
                    </select>
                </div>
                <div class="col-md-6 alert" role="alert">
                    <select [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.PhuongXa" 
                    class="form-control">
                        <option value="" disabled selected>Phuong, Xa</option>
                        <option value="1">Phường 1</option>
                        <option value="2">Phường 2</option>
                    </select>
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.DiaChi"
                        class="form-control" placeholder="Dia Chi">
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.DienThoai"
                        class="form-control" placeholder="Dien thoai">
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.NgayThanhLap"
                        class="form-control" placeholder="Ngay Thanh Lap">
                </div>
                <div class="col-md-12 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.DTKhuonVien"
                        class="form-control" placeholder="DT Khuong Vien">
                </div>
                <div class="col-md-12 alert" role="alert">
                    <!-- <div class="form-check" style="text-align: left;">
                        <input class="form-check-input" [ngModelOptions]="{standalone: true}" type="checkbox" [(ngModel)]="trungtam.isHienThi"  tabindex="0">
                        <label class="form-check-label" for="mdb-checkbox-1">Hiển Thị</label>
                    </div> -->
                    <div class="form-check custom-checkbox">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="trungtam.isHienThi" value="" checked>
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                            Hiển thị
                        </label>
                    </div>
                </div>
                <div class="col-md-12 alert" role="alert">
                    <textarea [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.GhiChu"
                        class="form-control" placeholder="Ghi Chu"></textarea>
                </div>
            </div>

        </form>
        <button *ngIf="popup" class="btn btn-warning mr-3" (click)="closeMe()" alt=''>{{"MESSAGE.NameList.Close" |translate}}</button>
        <button class="btn btn-info" (click)="UpdateTrungtam()" alt=''>{{"MESSAGE.NameList.Save" |translate}}</button>
    </div>
</div>
<div class="text-center border border-light p-5" *ngIf="!popup">
        <p class="h4 mb-4">Central Information</p>
        <form>
            <div class="form-group row">
                <div class="col-md-6 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.MaTrungTam"
                        class="form-control" placeholder="Ma Trung Tam">
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.TenTrungTam"
                        class="form-control" placeholder="Ten Trung Tam">
                </div>
                <div class="col-md-6 alert" role="alert">
                    <select [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.TinhThanh" 
                    class="form-control">
                        <option value="" disabled selected>Tinh, Thanh</option>
                        <option value="tinh1">tinh1</option>
                    </select>
                </div>
                <div class="col-md-6 alert" role="alert">
                    <select [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.QuanHuyen" 
                    class="form-control">
                        <option value="" disabled selected>Quan, Huyen</option>
                        <option value="quan1">quan1</option>
                    </select>
                </div>
                <div class="col-md-6 alert" role="alert">
                    <select [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.PhuongXa" 
                    class="form-control">
                        <option value="" disabled selected>Phuong, Xa</option>
                        <option value="xa1">xa1</option>
                    </select>
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.DiaChi"
                        class="form-control" placeholder="Dia Chi">
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.DienThoai"
                        class="form-control" placeholder="Dien thoai">
                </div>
                <div class="col-md-6 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.NgayThanhLap"
                        class="form-control" placeholder="Ngay Thanh Lap">
                </div>
                <div class="col-md-12 alert" role="alert">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.DTKhuonVien"
                        class="form-control" placeholder="DT Khuong Vien">
                </div>
                <div class="col-md-12 alert" role="alert">
                    <div class="form-check" style="text-align: left;">
                        <input class="form-check-input" [ngModelOptions]="{standalone: true}" type="checkbox" [(ngModel)]="trungtam.isHienThi" id="mdb-checkbox-1" tabindex="0">
                        <label class="form-check-label" for="mdb-checkbox-1">Hiển Thị</label>
                    </div>
                </div>
                <div class="col-md-12 alert" role="alert">
                    <textarea [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="trungtam.GhiChu"
                        class="form-control" placeholder="Ghi Chu"></textarea>
                </div>
            </div>

        </form>
        <button class="btn btn-warning mr-3" (click)="ReturnList()" alt=''>{{"MESSAGE.NameList.Back"</button>
        <button class="btn btn btn-info" (click)="UpdateTrungtam()" alt=''>{{"MESSAGE.NameList.Save" |translate}}</button>
</div>


