<div class="modal-body" *ngIf="popup">
    <div class="text-center border border-light p-5">
        <p class="h4 mb-4">EnrollmentResultsList Information</p>
        <form>


            <div class="form-group row">
                <label class="col-3 label-middling">Số Thứ Tự</label>
                <div class=" col-3 label-middling">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="KQChieuSinh.SoThuTu"
                        class="form-control" placeholder="Số Thứ Tự">
                </div>
            </div>

    
    <div class="form-group row">
        <label class="col-3 label-middling">Mã Kết Quả<span class="text-danger">(*)</span></label>
        <div class="col-9">
            <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="KQChieuSinh.MaKQ" class="form-control"
                placeholder="Mã Kết Quả">
        </div>
    </div>



    <div class="form-group row">
        <label class="col-3 label-middling">Kết Quả<span class="text-danger">(*)</span></label>
        <div class="col-9">
            <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="KQChieuSinh.KQChieuSinh"
                class="form-control" placeholder="Kết Quả">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-3 label-middling">Mã Màu</label>
        <div class="col-9">
            <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="KQChieuSinh.MaMau"
                class="form-control" placeholder="">
        </div>
    </div>




    </form>
    <button *ngIf="popup" class="btn btn-warning mr-3" (click)="closeMe()"
        alt=''>{{"MESSAGE.NameList.Close" |translate}}</button>
    <button class="btn btn-info" (click)="UpdateKhuVuc()" alt=''>{{"MESSAGE.NameList.Save" |translate}}</button>
</div>
</div>