<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning" style="background: #023a54">
            <h4 class="card-title">{{ "MESSAGE.NameList.PositionsList" | translate }}</h4>
          </div>
          <div class="row ">
            <div class="col-12">
              <div class="card-body">
                <div class="row">
                  <div class="offset-sm-8 col-sm-4 search-form">
                    <div class="row">
                      <div class="col-12 ta-r">
                        <button class="btn btn-vietgoal btn-sm mr-2" (click)="openImport()">Import</button>
                        <button class="btn btn-vietgoal btn-sm mr-2" (click)="downloadTemplate()">Mẫu Import</button>
                        <button mat-raised-button type="button" (click)="add()"
                          title="{{ 'MESSAGE.NameList.Create' | translate}}"
                          class="btn btn-primary add-button btn-link btn-sm btn-just-icon ml-2">
                          <i class="material-icons">add</i>
                        </button>
                      </div>
                      <div class="col-12 input-group form-sm ">
                        <input [(ngModel)]="searchTerm" class="form-control" type="text"
                          placeholder="{{ 'MESSAGE.NameList.Search' | translate }}" aria-label="Search">
                        <button type="button" (click)="reload()" title="{{ 'MESSAGE.NameList.Search' | translate}}"
                          class="btn btn-primary search-button btn-link btn-sm btn-just-icon">
                          <i class="material-icons">search</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card-body table-responsive">
                <mat-spinner *ngIf="loading" class="myspinner" [diameter]="32"></mat-spinner>
                <div class="vietgoal-table-settings style-1">
                  <table class="table table-condensed table-striped table-bordered table-hover" style="width: 100%">
                    <thead>
                      <ng-container *ngFor="let colName of paginationSettings.columnsName; let colIndex = index;">
                        <th *ngIf="paginationSettings.visibles[colIndex]"
                          [style.width]="(colIndex == 0) ? '100px' : ((colIndex == paginationSettings.columnsName.length - 1) ? '150px' : 'auto')"
                          (click)="paginationSettings.sortAbles[colIndex] ? utilsService.toggleSort(colIndex,paginationSettings.sortToggles ,paginationSettings.sort ,paginationSettings.columnsNameMapping ,reload()) : utilsService.doNothing()">
                          <span style="vertical-align: middle;">{{ ("MESSAGE.NameList." + colName | translate) }}
                            <i style="float: none;" class="material-icons asc-sort-icons"
                              *ngIf="paginationSettings.sortAbles[colIndex]">
                              {{ (paginationSettings.sortToggles[colIndex] == '') ? 'unfold_more' : ((paginationSettings.sortToggles[colIndex] == 'ASC') ? 'expand_less' : 'expand_more') }}
                            </i>
                          </span>
                        </th>
                      </ng-container>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let cv of positionList; let i = index;">
                        <tr>
                          <td>{{ firstRowOnPage + i }}</td>
                          <ng-container
                              *ngFor="let colName of paginationSettings.columnsName; let colIndex = index">
                              <td
                                  *ngIf="colIndex != 0 && colIndex != paginationSettings.columnsName.length - 1 && paginationSettings.visibles[colIndex]">
                                  {{ utilsService.getColumnValue(age, colIndex, paginationSettings.columnsNameMapping) }}
                              </td>
                          </ng-container>
                          <td class="my-action-item">
                            <button type="button" (click)="edit(cv.id)" title="{{ 'MESSAGE.NameList.Edit' | translate}}"
                              class="btn btn-primary edit-button btn-link btn-sm btn-just-icon mr-2">
                              <i class="material-icons">edit</i>
                            </button>
                            <button type="button" (click)="remove(cv.id)"
                              title="{{ 'MESSAGE.NameList.Delete' | translate}}"
                              class="btn btn-primary btn-link delete-button btn-sm btn-just-icon">
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
                <mat-paginator [length]="Total" [pageSize]="pageSize" [pageSizeOptions]="pageSizesList"
                  [showFirstLastButtons]="true" (page)="pageEvent($event)">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>