<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning" style="background: #023a54">
                        <h4 class="card-title">Danh Sách Học Viên Chiêu Sinh</h4>
                    </div>
                    <div class="row pt-3 pl-2 pr-3">
                        <div class="col-sm-9 input-group form-sm form-1 pl-0">
                            <div class="col-12 ta-r">
                                <button class="btn btn-vietgoal btn-sm mr-2" (click)="openImport()">Import</button>
                                <button class="btn btn-vietgoal btn-sm mr-2" (click)="downloadTemplate()">Mẫu
                                    Import</button>
                            </div>
                            <div class="form-group row" style="padding-left: 50px;">
                                <div class="form-group row">
                                    <label class="col-5 label-middling"><strong>Ngày CS:</strong></label>
                                    <div  class="col-6 label-middling" >
                                    <input class="form-control"
                                        placeholder="Ngày Chiêu Sinh"
                                        [matAutocomplete]="AdmissionDayAC" [formControl]="searchAdmissionDaysCtrl">
                                    </div>
                                    <mat-autocomplete #AdmissionDayAC="matAutocomplete"
                                        (optionSelected)="changeAdmissionDay(searchAdmissionDaysCtrl.value.ID)"
                                        [displayWith]="displayAresFn">
                                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                                            <mat-spinner></mat-spinner>
                                        </mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let admissionday of admissiondaysList"
                                                [value]="admissionday">
                                                <span
                                                    *ngIf="!admissionday.notfound">{{admissionday.AdmissionDayName}}</span>
                                                <span *ngIf="admissionday.notfound"
                                                    class="nofind">{{ 'Not found' }}</span>
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </div>

                                <div class="form-group row">
                                    <label class="col-5 label-middling"><strong>{{'MESSAGE.NameList.Area' |translate}}:</strong></label>
                                    <div  class="col-6 label-middling" >
                                    <input class="form-control" placeholder="{{'MESSAGE.NameList.AreaName' |translate}}"
                                        [matAutocomplete]="areaAC" [formControl]="searchAreasCtrl">
                                    </div>
                                    <mat-autocomplete #areaAC="matAutocomplete"
                                        (optionSelected)="changeArea(searchAreasCtrl.value.ID)"
                                        [displayWith]="displayAreaFn">
                                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                                            <mat-spinner></mat-spinner>
                                        </mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let area of areadsList" [value]="area">
                                                <span *ngIf="!area.notfound">{{area.AreaName}}</span>
                                                <span *ngIf="area.notfound" class="nofind">{{area.notfound}}</span>
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </div>

                                <div class="form-group row">
                                    <label class="col-5 label-middling"><strong>{{'MESSAGE.NameList.Yard' |translate}}:</strong></label>
                                    <div  class="col-6 label-middling" >
                                    <input class="form-control" placeholder="{{'MESSAGE.NameList.Yard' |translate}}"
                                        [matAutocomplete]="YardAC" [formControl]="searchYardsCtrl">
                                        </div>
                                    <mat-autocomplete #YardAC="matAutocomplete"
                                        (optionSelected)="changeYard(searchYardsCtrl.value.ID)"
                                        [displayWith]="displayAresFn">
                                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                                            <mat-spinner></mat-spinner>
                                        </mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let yard of yardsList" [value]="yard">
                                                <span *ngIf="!yard.notfound">{{yard.YardName}}</span>
                                                <span *ngIf="yard.notfound" class="nofind">{{ 'Not found' }}</span>
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </div>

                                <div class="form-group row">
                                    <label class="col-5 label-middling"><strong>{{'MESSAGE.NameList.YardArea' |translate}}:</strong></label>
                                    <div  class="col-6 label-middling" >
                                    <input class="form-control"
                                        placeholder="{{'MESSAGE.NameList.YardArea' |translate}}"
                                        [matAutocomplete]="traininggroundAC" [formControl]="searchTrainingGroundsCtrl">
                                    </div>
                                    <mat-autocomplete #traininggroundAC="matAutocomplete"
                                        (optionSelected)="changeTrainingGround(searchTrainingGroundsCtrl.value.ID)"
                                        [displayWith]="displayTrainingGroundFn">
                                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                                            <mat-spinner></mat-spinner>
                                        </mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let trainingground of traininggroundsList"
                                                [value]="trainingground">
                                                <span
                                                    *ngIf="!trainingground.notfound">{{trainingground.TrainingGroundName}}</span>
                                                <span *ngIf="trainingground.notfound"
                                                    class="nofind">{{trainingground.notfound}}</span>
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </div>



                                <div class="form-group row">
                                    <label class="col-5 label-middling"><strong>Lớp Học:</strong> </label>
                                    <div  class="col-6 label-middling" >
                                    <input class="form-control" placeholder="Lớp Học"
                                        [matAutocomplete]="ClassAC" [formControl]="searchClasssCtrl">
                                    </div>
                                    <mat-autocomplete #ClassAC="matAutocomplete"
                                        (optionSelected)="changeClass(searchClasssCtrl.value.ID)"
                                        [displayWith]="displayAresFn">
                                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                                            <mat-spinner></mat-spinner>
                                        </mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let class of classsList" [value]="class">
                                                <span *ngIf="!class.notfound">{{class.ClassName}}</span>
                                                <span *ngIf="class.notfound" class="nofind">{{ 'Not found' }}</span>
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </div>

                                <div class="form-group row">
                                    <label class="col-5 label-middling"><strong>Người Chốt:</strong> </label>
                                    <div  class="col-6 label-middling" >
                                    <input class="form-control" placeholder="{{'MESSAGE.NameList.User' |translate}}"
                                        [matAutocomplete]="UserAC" [formControl]="searchUsersCtrl">
                                    </div>
                                    <mat-autocomplete #UserAC="matAutocomplete"
                                        (optionSelected)="changeUser(searchUsersCtrl.value.ID)"
                                        [displayWith]="displayAresFn">
                                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                                            <mat-spinner></mat-spinner>
                                        </mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let user of usersList" [value]="user">
                                                <span *ngIf="!user.notfound">{{user.UserName}}</span>
                                                <span *ngIf="user.notfound" class="nofind">{{ 'Not found' }}</span>
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </div>

                                <div class="form-group row">
                                    <label class="col-5 label-middling"><strong>Kết Quả:</strong></label>
                                    <div  class="col-6 label-middling" >
                                    <input class="form-control" placeholder="Kết Quả"
                                        [matAutocomplete]="RecruitAC" [formControl]="searchRecruitsCtrl">
                                    </div>
                                    <mat-autocomplete #RecruitAC="matAutocomplete"
                                        (optionSelected)="changeRecruit(searchRecruitsCtrl.value.ID)"
                                        [displayWith]="displayAresFn">
                                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                                            <mat-spinner></mat-spinner>
                                        </mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let recruit of recruitsList" [value]="recruit">
                                                <span *ngIf="!recruit.notfound">{{recruit.RecruitName}}</span>
                                                <span *ngIf="recruit.notfound" class="nofind">{{ 'Not found' }}</span>
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3 input-group form-sm form-1 pl-0 search-form search-form">
                            <button type="button" (click)="add()" title="{{ 'MESSAGE.NameList.Create' | translate}}"
                                class="btn btn-primary add-button btn-link btn-sm btn-just-icon ml-2">
                                <i class="material-icons">add</i>
                            </button>
                            <input [(ngModel)]="searchTerm" class="form-control my-0 py-1" type="text"
                                placeholder="{{ 'MESSAGE.NameList.Search' | translate }}" aria-label="Search">
                            <div class="input-group-prepend">
                                <button type="button" (click)="reload()"
                                    title="{{ 'MESSAGE.NameList.Search' | translate}}"
                                    class="btn btn-primary search-button btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body table-responsive">
                                <mat-spinner *ngIf="loading" class="myspinner" [diameter]="32"></mat-spinner>
                                <div class="vietgoal-table-settings vg-scroll">
                                    <table class="table table-condensed table-striped table-bordered table-hover"
                                        style="width: 150%">
                                        <thead>
                                            <ng-container *ngFor="let colName of columnsName; let colIndex = index;">
                                                <th [style.width]="(colIndex == 0) ? '50px' : ((colIndex == columnsName.length - 1) ? '100px' : 'auto')"
                                                    (click)="sortAbles[colIndex] ? toggleSort(colIndex) : doNothing()">
                                                    <span
                                                        style="vertical-align: middle;">{{ ("MESSAGE.NameList." + colName | translate) }}
                                                        <i class="material-icons asc-sort-icons"
                                                            *ngIf="sortAbles[colIndex]">
                                                            {{ (sortToggles[colIndex] == '') ? 'unfold_more' : ((sortToggles[colIndex] == 'ASC') ? 'expand_less' : 'expand_more') }}
                                                        </i>
                                                    </span>
                                                </th>
                                            </ng-container>

                                        </thead>

                                        <tbody>
                                            <ng-container
                                                *ngFor="let recruitstudent of recruitstudentList; let i = index;">
                                                <tr>
                                                    <td>{{ i + 1}}</td>
                                                    <td>Họ Tên Phụ Huynh</td>
                                                    <td>Facebook</td>
                                                    <td>Email</td>
                                                    <td>Điện thoại</td>
                                                    <td>Họ tên học viên</td>
                                                    <td>Ngày sinh</td>
                                                    <td>Địa chỉ</td>
                                                    <td>Kết quả</td>
                                                    <td class="my-action-item">

                                                        <button mat-raised-button type="button"
                                                            (click)="edit(recruitstudent.ID)"
                                                            title="{{ 'MESSAGE.NameList.Edit' | translate}}"
                                                            class="btn btn-primary edit-button btn-link btn-sm btn-just-icon mr-2">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button mat-raised-button type="button"
                                                            (click)="remove(recruitstudent)"
                                                            title="{{ 'MESSAGE.NameList.Delete' | translate}}"
                                                            class="btn btn-primary btn-link delete-button btn-sm btn-just-icon">
                                                            <i class="material-icons">close</i>
                                                        </button>

                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                                <mat-paginator [length]="Total" [pageSize]="pageSize" [pageSizeOptions]="pageSizesList"
                                    [showFirstLastButtons]="true" (page)="pageEvent($event)">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>