<div class="modal-body" *ngIf="popup">
    <div class="text-center border border-light p-5">
        <p class="h4 mb-4">Region Information</p>
        <form>

            <div class="form-group row">
                <label class="col-3 label-middling">Trung Tâm<span class="text-danger">(*)</span></label>
                <div class="col-6 label-middling" >
                    <select [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="khuvuc.TrungTam"
                        class="form-control" placeholder="Trung Tâm">
                        <option value="-1" disabled>--Trung Tâm--</option>
                    <option *ngFor="let province of provinceList" value={{province.Id}}>{{province.ProvinceName}}
                    </option>
                    </select>
            </div>

            </div>
                <div class="form-group row">
                    <label class="col-3 label-middling">Mã Khu Vực<span class="text-danger">(*)</span></label>
                        <div class="col-9">
                            <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="khuvuc.MaKhuVuc"
                                class="form-control" placeholder="Ma Khu Vực">
                        </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 label-middling">Tên Khu Vực<span class="text-danger">(*)</span></label>
                    <div class=" col-3 label-middling">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="khuvuc.TenKhuVuc"
                        class="form-control" placeholder="Tên Khu Vực">
                    </div>
                </div>

            
            

        </form>
        <button *ngIf="popup" class="btn btn-warning mr-3" (click)="closeMe()" alt=''>{{"MESSAGE.NameList.Close" |translate}}</button>
        <button class="btn btn-info" (click)="UpdateKhuVuc()" alt=''>{{"MESSAGE.NameList.Save" |translate}}</button>
    </div>
</div>
