<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning" style="background: #023a54">
                        <h4 class="card-title">{{ "MESSAGE.NameList.YardArea" | translate }}</h4>
                    </div>
                    <div class="row pt-3 pl-2 pr-3">
                        <div class="col-sm-9 input-group form-sm form-1 pl-0">
                            <div class="row" style="padding-left: 50px;">

                                

                                <div class="col-sm-4">
                                    <input class="form-control" placeholder="{{'MESSAGE.NameList.Area' |translate}}"
                                        [matAutocomplete]="AreasAC" [formControl]="searchAreasCtrl">
                                    <mat-autocomplete #AreaAC="matAutocomplete"
                                        (optionSelected)="changeArea(searchAreasCtrl.value.ID)"
                                        [displayWith]="displayAreaFn">
                                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                                            <mat-spinner></mat-spinner>
                                        </mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let area of areasList" [value]="area">
                                                <span *ngIf="!Area.notfound">{{Areas.AreasName}}</span>
                                                <span *ngIf="Area.notfound" class="nofind">{{Areas.notfound}}</span>
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </div>
                                
                                <div class="col-sm-4">
                                    <input class="form-control" placeholder="{{'MESSAGE.NameList.Yard' |translate}}"
                                        [matAutocomplete]="YardAC" [formControl]="searchYardsCtrl">
                                    <mat-autocomplete #YardAC="matAutocomplete"
                                        (optionSelected)="changeDistrict(searchYardsCtrl.value.ID)"
                                        [displayWith]="displayYardFn">
                                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                                            <mat-spinner></mat-spinner>
                                        </mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let Yard of listYard" [value]="YardId">
                                                <span *ngIf="!Yard.notfound">{{Yard.YardName}}</span>
                                                <span *ngIf="Yard.notfound" class="nofind">{{Yard.notfound}}</span>
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-3 input-group form-sm form-1 pl-0 search-form search-form">
                            <button type="button" (click)="add()" title="{{ 'MESSAGE.NameList.Create' | translate}}"
                                class="btn btn-primary add-button btn-link btn-sm btn-just-icon ml-2">
                                <i class="material-icons">add</i>
                            </button>
                            <input [(ngModel)]="searchTerm" class="form-control my-0 py-1" type="text"
                                placeholder="{{ 'MESSAGE.NameList.Search' | translate }}" aria-label="Search">
                            <div class="input-group-prepend">
                                <button type="button" (click)="reload()"
                                    title="{{ 'MESSAGE.NameList.Search' | translate}}"
                                    class="btn btn-primary search-button btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body table-responsive">
                                <div class="vietgoal-table-settings style-1">
                                <table class="table table-condensed table-striped table-bordered table-hover" style="width: 100%">
                                    <thead>
                                        <ng-container *ngFor="let colName of columnsName; let colIndex = index;">
                                            <th [style.width]="(colIndex == 0) ? '100px' : ((colIndex == columnsName.length - 1) ? '150px' : 'auto')" (click)="sortAbles[colIndex] ? toggleSort(colIndex) : doNothing()">
                                                <span style="vertical-align: middle;">{{ ("MESSAGE.NameList." + colName | translate) }}
                                                     <i class="material-icons asc-sort-icons" *ngIf="sortAbles[colIndex]">
                                                        {{ (sortToggles[colIndex] == '') ? 'unfold_more' : ((sortToggles[colIndex] == 'ASC') ? 'expand_less' : 'expand_more') }}
                                                    </i>
                                                </span>
                                            </th>
                                        </ng-container>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let traininground of trainingroundsList; let i = index;">
                                            <tr>
                                                <td width="100px">{{ i + 1}}</td>
                                                <td>{{ traininground.TrainingGroundCode }}</td>
                                                <td>{{ traininground.TrainingGroundName }}</td>
                                                <td>{{ traininground.AreaName }}</td>
                                                <td>{{ traininground.YardName }}</td>
                                                <td>{{ traininground.Address }}</td>
                                                <td>{{ traininground.Description }}</td>
                                                <td class="my-action-item">
    
                                                    <button mat-raised-button  type="button" (click)="edit(traininground.ID)" title="{{ 'MESSAGE.NameList.Edit' | translate}}" class="btn btn-primary edit-button btn-link btn-sm btn-just-icon mr-2">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button mat-raised-button  type="button" (click)="remove(traininground)" title="{{ 'MESSAGE.NameList.Delete' | translate}}" class="btn btn-primary btn-link delete-button btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table></div>
                                <mat-paginator [length]="100"
                                            [pageSize]="pageSize"
                                            [pageSizeOptions]="[1,2]"
                                            >
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>