<div class="modal-body" *ngIf="popup">
    <div class="text-center border border-light p-5">
        <p class="h4 mb-4">Central Information</p>
        <form class="row">
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralCode">{{'MESSAGE.NameList.CentralCode' |translate}}:</label>
                <div class="col-sm-7">
                    <input [ngModelOptions]="{standalone: true}" type="text" id="CentralCode"
                        [(ngModel)]="central.CentralCode" class="form-control">
                </div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralName">{{'MESSAGE.NameList.CentralName' |translate}}:</label>
                <div class="col-sm-7">
                    <input [ngModelOptions]="{standalone: true}" type="text" id="CentralName"
                        [(ngModel)]="central.CentralName" class="form-control">
                </div>
            </div>
            <div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="ProvinceAC">{{'MESSAGE.NameList.Province' |translate}}:</label>
                <div class="col-sm-7">
                    <input class="form-control" id="ProvinceAC" [value]="central.ProvinceID"
                        [matAutocomplete]="provinceAC" [formControl]="searchProvincesCtrl">
                    <mat-autocomplete #provinceAC="matAutocomplete"
                        (optionSelected)="changeProvince(searchProvincesCtrl.value.ID)"
                        [displayWith]="displayProvinceFn">
                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                            <mat-spinner></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let province of listprovince" [value]="province">
                                <span *ngIf="!province.notfound">{{province.ProvinceName}}</span>
                                <span *ngIf="province.notfound" class="nofind">{{province.notfound}}</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralName">{{'MESSAGE.NameList.District' |translate}}:</label>
                <div class="col-sm-7">
                    <input class="form-control" [value]="central.DistrictID"
                        [matAutocomplete]="districtAC" [formControl]="searchDistrictsCtrl">
                    <mat-autocomplete #districtAC="matAutocomplete"
                        (optionSelected)="changeDistrict(searchDistrictsCtrl.value.ID)"
                        [displayWith]="displayDistrictFn">
                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                            <mat-spinner></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let district of listdistrict" [value]="district">
                                <span *ngIf="!district.notfound">{{district.DistrictName}}</span>
                                <span *ngIf="district.notfound" class="nofind">{{district.notfound}}</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralName">{{'MESSAGE.NameList.Ward' |translate}}:</label>
                <div class="col-sm-7">
                    <input class="form-control" [value]="central.WardID"
                        [matAutocomplete]="wardAC" [formControl]="searchWardsCtrl">
                    <mat-autocomplete #wardAC="matAutocomplete" [displayWith]="displayWardFn">
                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                            <mat-spinner></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let ward of listward" [value]="ward">
                                <span *ngIf="!ward.notfound">{{ward.WardName}}</span>
                                <span *ngIf="ward.notfound" class="nofind">{{ward.notfound}}</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralName">{{'MESSAGE.NameList.Address' |translate}}:</label>
                <div class="col-sm-7">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.Address"
                        class="form-control" >
                </div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralName">{{'MESSAGE.phone_holder' |translate}}:</label>
                <div class="col-sm-7">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.PhoneNumber"
                        class="form-control" >
                </div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralName">Ngày Thành Lập:</label>
                <div class="col-sm-7">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.DateEstablished"
                        class="form-control" >
                </div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralName">{{'MESSAGE.NameList.CampusArea' |translate}}:</label>
                <div class="col-sm-7">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.CampusArea"
                        class="form-control" >
                </div>
            </div>
            <div class="form-group row col-md-6">
                <div class="form-check custom-checkbox">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="central.Showed" value=""checked>
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                        Hiển thị
                    </label>
                </div>
            </div>

            <div class="form-group row col-md-12">
                <label class="control-label col-sm-2 label-middling"
                    for="CentralName">{{'MESSAGE.NameList.Note' |translate}}:</label>
                <div class="col-sm-10">
                    <textarea [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.Discription"
                        class="form-control" ></textarea>
                </div>
            </div>
        </form>
        <button *ngIf="popup" class="btn btn-warning mr-3" (click)="closeMe()"
            alt=''>{{"MESSAGE.NameList.Close" |translate}}</button>
        <button class="btn btn-info" (click)="UpdateTrungtam()" alt=''>{{"MESSAGE.NameList.Save" |translate}}</button>
    </div>
</div>
<div class="text-center border border-light p-5" *ngIf="!popup">
    <p class="h4 mb-4">Central Information</p>
    <form>
        <div class="form-group row">
            <div class="col-md-6 alert" role="alert">
                <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.CentralName"
                    class="form-control" placeholder="Ma Trung Tam">
            </div>
            <div class="col-md-6 alert" role="alert">
                <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.TenTrungTam"
                    class="form-control" placeholder="Ten Trung Tam">
            </div>
            <div class="col-md-6 alert" role="alert">
                <!-- <select [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.TinhThanh" 
                    class="form-control">
                        <option value="" disabled selected>Tinh, Thanh</option>
                        <option value="tinh1">tinh1</option>
                    </select> -->

                <mat-form-field>
                    <input matInput placeholder="{{'MESSAGE.NameList.Province' |translate}}" aria-label="State"
                        [matAutocomplete]="auto" [formControl]="searchProvincesCtrl">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                            <mat-spinner></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let province of listprovince" [value]="province">
                                <span *ngIf="!province.notfound">{{province.ProvinceName}}</span>
                                <span *ngIf="province.notfound" class="nofind">{{province.notfound}}</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-6 alert" role="alert">
                <select [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.QuanHuyen"
                    class="form-control">
                    <option value="" disabled selected>Quan, Huyen</option>
                    <option value="quan1">quan1</option>
                </select>
            </div>
            <div class="col-md-6 alert" role="alert">
                <select [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.PhuongXa"
                    class="form-control">
                    <option value="" disabled selected>Phuong, Xa</option>
                    <option value="xa1">xa1</option>
                </select>
            </div>
            <div class="col-md-6 alert" role="alert">
                <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.DiaChi"
                    class="form-control" placeholder="Dia Chi">
            </div>
            <div class="col-md-6 alert" role="alert">
                <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.DienThoai"
                    class="form-control" placeholder="Dien thoai">
            </div>
            <div class="col-md-6 alert" role="alert">
                <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.NgayThanhLap"
                    class="form-control" placeholder="Ngay Thanh Lap">
            </div>
            <div class="col-md-12 alert" role="alert">
                <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.DTKhuonVien"
                    class="form-control" placeholder="DT Khuong Vien">
            </div>
            <div class="col-md-12 alert" role="alert">
                <div class="form-check" style="text-align: left;">
                    <input class="form-check-input" [ngModelOptions]="{standalone: true}" type="checkbox"
                        [(ngModel)]="central.isHienThi" id="mdb-checkbox-1" tabindex="0">
                    <label class="form-check-label" for="mdb-checkbox-1">Hiển Thị</label>
                </div>
            </div>
            <div class="col-md-12 alert" role="alert">
                <textarea [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.GhiChu"
                    class="form-control" placeholder="Ghi Chu"></textarea>
            </div>
        </div>

    </form>
    <button class="btn btn-warning mr-3" (click)="ReturnList()" alt=''>{{"MESSAGE.NameList.Back"}}</button>
    <button class="btn btn btn-info" (click)="UpdateTrungtam()" alt=''>{{"MESSAGE.NameList.Save" |translate}}</button>
</div>