<div class="modal-body" *ngIf="popup">
    <div class="text-center border border-light p-5">
        <p class="h4 mb-4">Central Information</p>
        <form class="row">
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralCode">{{'MESSAGE.NameList.CentralCode' |translate}} <span class="text-danger">(*)</span>:</label>
                <div class="col-sm-7">
                    <input [ngModelOptions]="{standalone: true}" type="text" id="centralCode"
                        [(ngModel)]="central.centralCode" class="form-control">
                </div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralName">{{'MESSAGE.NameList.CentralName' |translate}} <span class="text-danger">(*)</span>:</label>
                <div class="col-sm-7">
                    <input [ngModelOptions]="{standalone: true}" type="text" id="centralName"
                        [(ngModel)]="central.centralName" class="form-control">
                </div>
            </div>
            <div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="ProvinceAC">{{'MESSAGE.NameList.Province' |translate}} <span class="text-danger">(*)</span>:</label>
                <div class="col-sm-7">
                    <input class="form-control" id="ipProvinceAC"
                        [matAutocomplete]="provinceAC" [formControl]="searchProvincesCtrl">
                    <mat-autocomplete #provinceAC="matAutocomplete"
                        (optionSelected)="changeProvince(searchProvincesCtrl.value.id)"
                        [displayWith]="displayProvinceFn">
                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                            <mat-spinner></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let province of listprovince" [value]="province">
                                <span *ngIf="!province.notfound">{{province.provinceName}}</span>
                                <span *ngIf="province.notfound" class="nofind">{{province.notfound}}</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralName">{{'MESSAGE.NameList.District' |translate}} <span class="text-danger">(*)</span>:</label>
                <div class="col-sm-7">
                    <input class="form-control" id="ipDistrictAC"
                        [matAutocomplete]="districtAC" [formControl]="searchDistrictsCtrl">
                    <mat-autocomplete #districtAC="matAutocomplete"
                        (optionSelected)="changeDistrict(searchDistrictsCtrl.value.id)"
                        [displayWith]="displayDistrictFn">
                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                            <mat-spinner></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let district of listdistrict" [value]="district">
                                <span *ngIf="!district.notfound">{{district.districtName}}</span>
                                <span *ngIf="district.notfound" class="nofind">{{district.notfound}}</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralName">{{'MESSAGE.NameList.Ward' |translate}} <span class="text-danger">(*)</span>:</label>
                <div class="col-sm-7">
                    <input class="form-control" id="ipWardAC"
                        [matAutocomplete]="wardAC" [formControl]="searchWardsCtrl">
                    <mat-autocomplete #wardAC="matAutocomplete" [displayWith]="displayWardFn" 
                    (optionSelected)="changeWard(searchWardsCtrl.value.id)">
                        <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                            <mat-spinner></mat-spinner>
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let ward of listward" [value]="ward">
                                <span *ngIf="!ward.notfound">{{ward.wardName}}</span>
                                <span *ngIf="ward.notfound" class="nofind">{{ward.notfound}}</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralName">{{'MESSAGE.NameList.Address' |translate}} <span class="text-danger">(*)</span>:</label>
                <div class="col-sm-7">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.address"
                        class="form-control" >
                </div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralName">{{'MESSAGE.phone_holder' |translate}} <span class="text-danger">(*)</span>:</label>
                <div class="col-sm-7">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.phone"
                        class="form-control" >
                </div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralName">Ngày Thành Lập:</label>
                <div class="col-sm-7">
                    <!-- <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.establishedDate" class="form-control" > -->
                    <mat-form-field>
                        <input matInput id="ipEstablishedDate" [disabled]="true" (dateChange)="establishedDateEvent($event)" [matDatepicker]="establishedDateFilter" class="col-sm-3 form-control">
                        <span mat-raised-button (click)="establishedDateFilter.open()"
                          class="btn btn-primary calendar-btn search-button btn-link btn-sm btn-just-icon">
                          <i class="material-icons">date_range</i>
                        </span>
                        <mat-datepicker #establishedDateFilter disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group row col-md-6">
                <label class="control-label col-sm-5 label-middling"
                    for="CentralName">{{'MESSAGE.NameList.CampusArea' |translate}} <span class="text-danger">(*)</span>:</label>
                <div class="col-sm-7">
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.area"
                        class="form-control" >
                </div>
            </div>
            <div class="form-group row col-md-6">
                <div class="form-check custom-checkbox">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="central.visible" value=""checked>
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                        Hiển thị
                    </label>
                </div>
            </div>

            <div class="form-group row col-md-12">
                <label class="control-label col-sm-2 label-middling"
                    for="CentralName">{{'MESSAGE.NameList.Note' |translate}}:</label>
                <div class="col-sm-10">
                    <textarea [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="central.description"
                        class="form-control" ></textarea>
                </div>
            </div>
        </form>
        <button *ngIf="popup" class="btn btn-warning mr-3" (click)="closeMe()"
            alt=''>{{"MESSAGE.NameList.Close" |translate}}</button>
        <button class="btn btn-info" (click)="UpdateCentral()" alt=''>{{"MESSAGE.NameList.Save" |translate}}</button>
    </div>
</div>
<div class="text-center border border-light p-5" *ngIf="!popup">
    <p class="h4 mb-4">Central Information</p>
    <form>
        

    </form>
    <button class="btn btn-warning mr-3" (click)="ReturnList()" alt=''>{{"MESSAGE.NameList.Back"}}</button>
    <button class="btn btn btn-info" (click)="UpdateCentral()" alt=''>{{"MESSAGE.NameList.Save" |translate}}</button>
</div>