<div class="modal-body" *ngIf="popup">
    <div class="text-center border border-light p-5">
        <p class="h4 mb-4">Ward Information</p>
       <form>

        <div class="form-group row">
            <label class="col-sm-3 label-middling"
                for="ProvinceAC">{{'MESSAGE.NameList.ProvinceName' |translate}}:</label>
            <div class="col-sm-6">
                <input class="form-control" id="ProvinceAC" [value]="ward.provinceId"
                    [matAutocomplete]="provinceAC" [formControl]="searchProvincesCtrl">
                <mat-autocomplete #provinceAC="matAutocomplete"
                    (optionSelected)="changeProvince(searchProvincesCtrl.value.id)"
                    [displayWith]="displayProvinceFn">
                    <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                        <mat-spinner></mat-spinner>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let province of listprovince" [value]="province">
                            <span *ngIf="!province.notfound">{{province.ProvinceName}}</span>
                            <span *ngIf="province.notfound" class="nofind">{{province.notfound}}</span>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 label-middling"
                for="DistrictAC">{{'MESSAGE.NameList.DistrictName' |translate}}:</label>
            <div class="col-sm-6">
                <input class="form-control" id="DistrictAC" [value]="ward.districtId"
                    [matAutocomplete]="districtAC" [formControl]="searchDistrictsCtrl">
                <mat-autocomplete #districtAC="matAutocomplete"
                    (optionSelected)="changeDistrict(searchDistrictsCtrl.value.id)"
                    [displayWith]="displayDistrictFn">
                    <mat-option *ngIf="isLoading" class="is-loading bigger-spinner">
                        <mat-spinner></mat-spinner>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let district of listdistrict" [value]="district">
                            <span *ngIf="!district.notfound">{{district.DistrictName}}</span>
                            <span *ngIf="district.notfound" class="nofind">{{district.notfound}}</span>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </div>
        </div>
            <div class="form-group row">
                <label class="col-3 label-middling">{{'MESSAGE.NameList.WardCode' |translate}}:<span class="text-danger">(*)</span></label>
                <div class="col-6 label-middling" >
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="ward.wardCode"
                        class="form-control" placeholder='{{"MESSAGE.NameList.WardCode" |translate}}'>
                </div>
            </div>

       

            <div class="form-group row">
                <label class="col-3 label-middling">{{'MESSAGE.NameList.WardName' |translate}}:<span class="text-danger">(*)</span></label>
                <div class="col-6 label-middling" >
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="ward.wardName"
                        class="form-control" placeholder='{{"MESSAGE.NameList.WardName" |translate}}'>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 label-middling">{{'MESSAGE.NameList.DisplayOrder' |translate}}:</label>
                <div class="col-6 label-middling" >
                    <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="ward.displayOrder"
                        class="form-control" placeholder='{{"MESSAGE.NameList.DisplayOrder" |translate}}'>
                </div>
            </div>
        </form>
        <button *ngIf="popup" class="btn btn-warning mr-3" (click)="closeMe()" alt=''>{{"MESSAGE.NameList.Close" |translate}}</button>
        <button class="btn btn-info" (click)="UpdateWard()" alt=''>{{"MESSAGE.NameList.Save" |translate}}</button>
    </div>
</div>



            